    <%- include('../../partials/header', { title: 'Your life and me'}); %>
    <aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
		   	<li style="background-image: url(/public/1.jpg);">
		   	</li>
		   	<li style="background-image: url(/public/2.jpg);">
		   	</li>
		   	<li style="background-image: url(/public/3.jpg);">
		   	</li>		   	
		  	</ul>
	  	</div>
	</aside>

	<div id="fh5co-content">
		<div class="video fh5co-video" style="background-image: url(/public/anca.jpg);">
			<a href="/public/videos/video-1.mp4" class="popup-vimeo"><i class="icon-video"></i></a>
			<div class="overlay"></div>
		</div>
		
		<div class="choose animate-box video fh5co-video" style="background-image: url(/public/video-2.jpg); height: 400px;">
			<a href="/public/videos/video-2.mp4" class="popup-vimeo"><i class="icon-video"></i></a>
			<div class="overlay"></div>
		</div>
	</div>

	<div id="fh5co-about">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Do You Know?</h2>
					<p>These are memories I never forget. I feel so happy when we go through everything together. I love you so much.</p>
				</div>
			</div>
			<div class="row">
				<div class="member">
					<div class="col-md-6 nopadding animate-box">
						<div class="author" style="background-image: url(/public/5.jpg);"></div>
					</div>
					<div class="col-md-6 nopadding animate-box">
						<div class="desc">
							<h3>Vung Tau City</h3>
							<span>2018/2/9</span>
							<p>Let's hold hands and walk together. Do you want?</p>
							<p>
								<ul class="fh5co-social-icons">
									<li><a href="#"><i class="icon-twitter-with-circle"></i></a></li>
									<li><a href="#"><i class="icon-facebook-with-circle"></i></a></li>
									<li><a href="#"><i class="icon-linkedin-with-circle"></i></a></li>
									<li><a href="#"><i class="icon-dribbble-with-circle"></i></a></li>
								</ul>
							</p>
						</div>
					</div>
				</div>
				<div class="member">
					<div class="col-md-6 nopadding col-md-push-6 animate-box">
						<div class="author" style="background-image: url(/public/6.jpg);"></div>
					</div>
					<div class="col-md-6 nopadding col-md-pull-6 animate-box">
						<div class="desc">
							<h3>Vung Tau City</h3>
							<span>2018/2/9</span>
							<p>Wow, I feel very beautiful life when having you.</p>
							<p>
								<ul class="fh5co-social-icons">
									<li><a href="#"><i class="icon-twitter-with-circle"></i></a></li>
									<li><a href="#"><i class="icon-facebook-with-circle"></i></a></li>
									<li><a href="#"><i class="icon-linkedin-with-circle"></i></a></li>
									<li><a href="#"><i class="icon-dribbble-with-circle"></i></a></li>
								</ul>
							</p>
						</div>
					</div>
				</div>
				<div class="member">
					<div class="col-md-6 nopadding animate-box">
						<div class="author" style="background-image: url(/public/7.jpg);"></div>
					</div>
					<div class="col-md-6 nopadding animate-box">
						<div class="desc">
							<h3>Vung Tau Beach</h3>
							<span>2018/1/9</span>
							<p>With that blue sky, I could only see the love of the two of us. Always be with you.</p>
							<p>
								<ul class="fh5co-social-icons">
									<li><a href="#"><i class="icon-twitter-with-circle"></i></a></li>
									<li><a href="#"><i class="icon-facebook-with-circle"></i></a></li>
									<li><a href="#"><i class="icon-linkedin-with-circle"></i></a></li>
									<li><a href="#"><i class="icon-dribbble-with-circle"></i></a></li>
								</ul>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%- include('../../partials/footer'); %>

