<%- include('../../partials/header.ejs', { title: 'Get company information' })%>

<div id="fh5co-product">
    <div class="container">
        <div class="row">
            <div class="col-md-4 prod text-center animate-box">
                <div class="product" style="background-image: url(assets/images/prod-1.jpg);">
                    <a href="/company/thongtincongty" class="view">
                        <i class="icon-plus"></i>
                    </a>
                </div>
                <h3><a href="/company/thongtincongty">Thông tin công ty</a></h3>
                <span class="price">Status: Active</span>
            </div>
            <div class="col-md-4 prod text-center animate-box">
                <div class="product" style="background-image: url(assets/images/prod-2.jpg);">
                    <a href="/company/thuonghieutoancau" class="view">
                        <i class="icon-plus"></i>
                    </a>
                </div>
                <h3><a href="/company/thuonghieutoancau">Thương Hiệu Toàn Cầu</a></h3>
                <span class="price">Status: Active</span>
            </div>
            <div class="col-md-4 prod text-center animate-box">
                <div class="product" style="background-image: url(assets/images/prod-3.jpg);">
                    <a href="/company/baothuongmai" class="view">
                        <i class="icon-plus"></i>
                    </a>
                </div>
                <h3><a href="/company/baothuongmai">Báo Thương Mại</a></h3>
                <span class="price">Status: Active</span>
            </div>
            <div class="col-md-4 prod text-center animate-box">
                <div class="product" style="background-image: url(assets/images/prod-4.jpg);">
                    <a href="/company/diachidoanhnghiep" class="view">
                        <i class="icon-plus"></i>
                    </a>
                </div>
                <h3><a href="/company/diachidoanhnghiep">Địa Chỉ Doanh Nghiệp</a></h3>
                <span class="price">Status: Active</span>
            </div>
            <div class="col-md-4 prod text-center animate-box">
                <div class="product" style="background-image: url(assets/images/prod-3.jpg);">
                    <a href="/company/vinabiz" class="view">
                        <i class="icon-plus"></i>
                    </a>
                </div>
                <h3><a href="/company/vinabiz">VinaBiz</a></h3>
                <span class="price">Status: Active</span>
            </div>
            <div class="col-md-4 prod text-center animate-box">
                <div class="product" style="background-image: url(assets/images/prod-2.jpg);">
                    <a href="#" class="view">
                        <i class="icon-plus"></i>
                    </a>
                </div>
                <h3><a href="#">Cong Ty ABCD</a></h3>
                <span class="price">Status: InActive</span>
            </div>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs')%>

<style>
    #fh5co-blog {
        display: none;
    }

    #fh5co-started {
        display: none;
    }
</style>