<%- include('../../partials/header.ejs', { title: 'My time line'})%>

<div class="container">
    Memory page
</div>

<%- include('../../partials/footer.ejs')%>

<style>
    #fh5co-blog {
        display: none;
    }

    #fh5co-started {
        display: none;
    }
</style>