<div id="fh5co-blog">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Recent Post</h2>
                <p>
                    Currently EJS has no notion of blocks, only compile-time includes, 
                    however you may still utilize this feature to implement "layouts" by simply including a header and footer like so....
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="fh5co-blog animate-box">
                    <a href="#"><img class="img-responsive" src="/public/1.jpg" alt=""></a>
                    <div class="blog-text">
                        <span class="posted_on">Nov. 15th</span>
                        <span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>
                        <h3><a href="#">We've grown from a regional</a></h3>
                        <p>
                            Currently EJS has no notion of blocks, only compile-time includes,
                            however you may still utilize this feature to implement "layouts" by simply including a header and footer like so...
                        </p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div> 
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="fh5co-blog animate-box">
                    <a href="#"><img class="img-responsive" src="/public/2.jpg" alt=""></a>
                    <div class="blog-text">
                        <span class="posted_on">Nov. 15th</span>
                        <span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>
                        <h3><a href="#">We've grown from a regional</a></h3>
                        <p>
                            Currently EJS has no notion of blocks, only compile-time includes,
                            however you may still utilize this feature to implement "layouts" by simply including a header and footer like so...
                        </p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-started" style="background-image:url(/public/3.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Want To Write About Us!</h2>
                <p>
                        Currently EJS has no notion of blocks, only compile-time includes, 
                        however you may still utilize this feature to implement "layouts" by simply including a header and footer like so...    
                </p>
                <p><a href="#" class="btn btn-default btn-lg">Contact Us</a></p>
            </div>
        </div>
    </div>
</div>

<footer id="fh5co-footer" role="contentinfo">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-4 fh5co-widget">
                <h4>About</h4>
                <p>
                    Currently EJS has no notion of blocks, only compile-time includes, 
                    however you may still utilize this feature to implement "layouts" by simply including a header and footer like so...
                </p>
            </div>
            <div class="col-md-4 col-md-push-1">
                <h4>Pages</h4>
                <ul class="fh5co-footer-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Practice Areas</a></li>
                    <li><a href="#">Won Cases</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">About us</a></li>
                </ul>
            </div>

            <div class="col-md-4 col-md-push-1">
                <h4>Contact Information</h4>
                <ul class="fh5co-footer-links">
                    <li>198 West 21th Street, <br> Suite 721 New York NY 10016</li>
                    <li><a href="#">+ 1237 5678 90</a></li>
                    <li><a href="#">noreply.orange.com</a></li>
                    <li><a href="#">orangetheory.co</a></li>
                </ul>
            </div>

        </div>

        <div class="row copyright">
            <div class="col-md-12 text-center">
                <p>
                    <small class="block">&copy; 2018. All Rights Reserved.</small> 
                    <small class="block">Designed by <a href="https://www.facebook.com/kisuma.06" target="_blank">hvhoan</a> At: <a href="#" target="_blank">New York</a></small>
                </p>
                <p>
                    <ul class="fh5co-social-icons">
                        <li><a href="#"><i class="icon-twitter"></i>#</a></li>
                        <li><a href="#"><i class="icon-facebook"></i>#</a></li>
                        <li><a href="#"><i class="icon-linkedin"></i>#</a></li>
                        <li><a href="#"><i class="icon-dribbble"></i>#</a></li>
                    </ul>
                </p>
            </div>
        </div>

    </div>
</footer>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<!-- jQuery -->
<script src="/assets/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="/assets/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="/assets/js/jquery.waypoints.min.js"></script>
<!-- Flexslider -->
<script src="/assets/js/jquery.flexslider-min.js"></script>
<!-- Magnific Popup -->
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/magnific-popup-options.js"></script>
<!-- Main -->
<script src="/assets/js/main.js"></script>
</body>
</html>
